/* Stile für die Neuseelandreise */

body {
    background-color: #eeeeee;
}

header {
    text-align: center;
}

img.user {
    border-radius: 2%;
    margin-top: -50px;
}

img.banner {
    width: 100%;
}

main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

article {
    padding: 1em;
}
article figure img {
    width: 100%;
}

article p {
    text-align: justify;
    line-height: 1.2em;
}

a {
    color: black
}

footer {
    border-top: 1px solid black;
    padding: 1em 2em 3em 2em;
}

footer .back{
    float: left;
}

footer .next{
    float: right;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}